

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#canvas {
	background-color: #888;
	border: 1px solid black;
}

.editor-tools {
	margin-top: 8px;
}










